@font-face {
  font-family: "CircularStd";
  src: url("../assets/fonts/CircularStd-Book.woff2") format("woff2"),
    url("../assets/fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Bold";
  src: url("../assets/fonts/Circular Std Bold.woff2") format("woff2"),
    url("../assets/fonts/Circular Std Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("../assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common colors */
:root {
  --primary: #f85e9f;
  --secondary: #5d50c6;
  --background: #fff;
  --heading-color: #191825;
  --highlight-color: #ff5722;
  --subheading-color: rgba(25, 24, 37, 0.5);
  --border-color: rgba(25, 24, 37, 0.1);

  --title-font-size: 16px;
  --heading-font-size: 32px;
  --sub-heading-font-size: 18px;
}

/* img {
  pointer-events: none;
} */

a {
  text-decoration: none;
  color: rgba(25, 24, 37, 0.5);
}
a:hover {
  color: #191825;
}

li {
  cursor: pointer;
}

li:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07),
    0px 34px 75px 0px rgba(0, 0, 0, 0.07),
    0px 137px 137px 0px rgba(0, 0, 0, 0.06),
    0px 308px 185px 0px rgba(0, 0, 0, 0.04),
    0px 548px 219px 0px rgba(0, 0, 0, 0.01),
    0px 856px 240px 0px rgba(0, 0, 0, 0);
}
body,
html {
  background-color: #fff;
  font-family: CircularStd;
  overflow-x: hidden;
}

.icon {
  width: 33px;
  padding: 8px;
  border-radius: 100%;
}

/* Common title section */
.section-title {
  color: var(--primary);
  font-family: CircularStd;
  font-size: var(--title-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

/* Common heading section */
.section-heading {
  color: var(--heading-color);
  font-family: CircularStd;
  font-size: var(--heading-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

/* Common subheading section */
.section-subheading {
  color: var(--subheading-color);
  font-family: Inter;
  font-size: var(--sub-heading-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* Common card style */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 32px;
}

/* Common card title */
.card-title {
  color: var(--heading-color);
  text-align: center;
  font-family: CircularStd;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

/* Common card text */
.card-text {
  color: var(--subheading-color);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* Common list title */
.list-title {
  color: var(--heading-color);
  font-family: CircularStd;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

/* Common list text */
.list-text {
  color: var(--subheading-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* Common buttons */
.btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding: 16px 32px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  background-color: #fff;
  color: #191825;
}
.btn:hover {
  color: #fff;
  background-color: var(--secondary);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07),
    0px 34px 75px 0px rgba(0, 0, 0, 0.07),
    0px 137px 137px 0px rgba(0, 0, 0, 0.06),
    0px 308px 185px 0px rgba(0, 0, 0, 0.04),
    0px 548px 219px 0px rgba(0, 0, 0, 0.01),
    0px 856px 240px 0px rgba(0, 0, 0, 0);
}

.arrow-btn {
  padding: 24px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 100%;
  cursor: pointer;
}

/* Common card price */
.price {
  color: var(--primary);
  font-family: CircularStd;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

/* Common card rate-star */
.rate-star {
  color: var(--highlight-color);
  font-family: CircularStd;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

@media screen and (min-width: 768px) {
  :root {
    --title-font-size: 23px;
    --heading-font-size: 40px;
    --sub-heading-font-size: 18px;
  }

  .section-title {
    font-size: var(--title-font-size);
  }

  .section-heading {
    font-size: var(--heading-font-size);
  }

  .section-subheading {
    font-size: var(--sub-heading-font-size);
  }

  .icon {
    width: 64px;
    padding: 13px;
    border-radius: 100%;
  }
}
main {
  padding-bottom: 64px;
}

@media screen and (min-width: 1025px) {
  :root {
    --title-font-size: 23px;
    --heading-font-size: 44px;
    --sub-heading-font-size: 18px;
  }

  .section-title {
    font-size: var(--title-font-size);
  }

  .section-heading {
    font-size: var(--heading-font-size);
  }

  .section-subheading {
    font-size: var(--sub-heading-font-size);
  }
}
