.container {
  width: 414px;
  margin: 0 auto;
  position: relative;
  padding: 0 16px;
}
.nav-item {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.logo-item {
  display: flex;

  .logo {
    min-width: 40px;
    height: 40px;
  }

  .logo-text {
    color: #191825;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-left: 16px;
  }
}

.menu-icon {
  width: 48px;
  height: 48px;
}

.nav-list,
.header-button-group {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-image {
  position: relative;
  height: 366px;
  .hero-background {
    width: 100%;
  }

  .hero-image-group {
    position: absolute;
    width: 295px;
    top: 38px;
    left: 46px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .hero-image-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .beach,
  .mountain,
  .city {
    max-width: 140px;
  }

  .add-user {
    position: absolute;
    left: 176px;
    top: 292px;
    width: 75px;
    background-color: var(--primary);
  }

  .send-icon {
    position: absolute;
    top: 136px;
    left: -40px;
    width: 75px;
    background-color: var(--primary);
  }

  .top-places {
    position: absolute;
    top: 212px;
    left: 243px;
    width: 115px;
    background-color: var(--background);
    text-wrap: nowrap;
    border-radius: 51px;
    width: fit-content;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding: 16px 32px;
  gap: 16px;
  border-radius: 100px;
  margin-bottom: 16px;
  cursor: pointer;
}

.hero-title:hover {
  color: var(--primary);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07),
    0px 34px 75px 0px rgba(0, 0, 0, 0.07),
    0px 137px 137px 0px rgba(0, 0, 0, 0.06),
    0px 308px 185px 0px rgba(0, 0, 0, 0.04),
    0px 548px 219px 0px rgba(0, 0, 0, 0.01),
    0px 856px 240px 0px rgba(0, 0, 0, 0);
}

.hero-heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 24px;
}

.high-light {
  color: var(--primary);
}

.hero-subheading {
  margin-bottom: 32px;
}

.hero-group-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cta-btn {
  border: 1px solid var(--border-color);
}

.hero-action-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #fff;
  border: 1px solid var(--border-color);

  .hero-action-btn:hover img {
    filter: invert(100%);
  }
}

.partner-section {
  padding: 32px 0;
  .partner-group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
  }
}

.partner-logo {
  height: 20px;
}

.service-section {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.service-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.card-item {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
}

.best-location-section {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  gap: 32px;
}

.best-location-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.arrow-button {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .previous-icon {
    width: 15px;
    height: auto;
  }

  .next-icon {
    width: 15px;
    height: auto;
  }

  .arrow-btn:hover {
    border: 1px solid var(--border-color);
    background-color: var(--secondary);
    .previous-icon,
    .next-icon {
      filter: invert(100%);
    }
  }
}

.best-location-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  .best-location-card-title,
  .best-location-card-text {
    text-align: unset;
  }
}

.best-location-card-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid var(--border-color);
  border-radius: 0 0 32px 32px;

  .card-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
  }

  .rate-star {
    position: relative;
  }

  .star-icon {
    width: 20px;
    position: absolute;
    top: 1px;
    margin-left: 8px;
  }

  .best-location-card-text {
    margin-bottom: 32px;
  }
}

.statistics-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  padding: 32px 0;
}

.statistics-image {
  width: 100%;
}

.statistics-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.statistics-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.statistics-title {
  margin-bottom: 16px;
}

.statistics-heading {
  margin-bottom: 32px;
}

.statistics-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: -webkit-fill-available;

  .statistics-list-item,
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px;
    border: 1px solid var(--border-color);
    border-radius: 32px;
  }

  .statistics-list-title {
    font-size: 35px;
    color: var(--highlight-color);
  }

  .statistics-list-item,
  li:hover {
    box-shadow: none;
  }
}

.benefit-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 64px;
  padding: 32px;
}

.benefit-background {
  width: 100%;
}

.benefit-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.benefit-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  .benefit-title {
    margin-bottom: 16px;
  }

  .benefit-heading {
    margin-bottom: 32px;
  }
}

.benefit-list {
  display: flex;
  flex-direction: column;

  .statistics-list-item,
  li {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border: none;
    border-radius: 32px;
  }

  .statistics-list-title {
    font-size: 35px;
    color: var(--highlight-color);
  }

  .statistics-list-item,
  li:hover {
    box-shadow: none;
    border: 1px solid var(--border-color);
  }
}

.statistics-icon {
  display: none;
}

.benefit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 32px;
}

.benefit-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.benefit-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  .benefit-title {
    margin-bottom: 16px;
  }

  .benefit-heading {
    margin-bottom: 32px;
  }
}

.benefit-list {
  display: flex;
  flex-direction: column;
}

.benefit-list-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;

  .location-icon {
    width: 100px;
    padding: 26px;
    background-color: var(--highlight-color);
    border-radius: 32px;
  }

  .calendar-icon {
    width: 100px;
    padding: 26px;
    background-color: #facd49;
    border-radius: 32px;
  }

  .ticket-icon {
    width: 100px;
    padding: 26px;
    background-color: var(--primary);
    border-radius: 32px;
  }

  .benefit-list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

.carousel-section {
  padding: 32px 0;
}

.carousel-background {
  display: none;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.carousel-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.customer-text {
  font-size: 23px;
}

.customer-text::before {
  content: "Mark Smith";
  position: absolute;
  color: var(--highlight-color);
}

.carousel-image {
  width: 128px;
}

.customer-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.ratting-star {
  width: 32px;
  height: auto;
}

.carousel-subheading {
  text-align: center;
}

.white {
  width: 24px;
  height: auto;
}

.pink {
  width: 24px;
  height: auto;
  margin: 0 16px;
}

.arrow-button {
  width: 100%;
}

.form-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 32px;
  background: #facd4914;
  border-radius: 32px;
}

.graphic-image {
  display: none;
}

.form-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.mail-icon {
  width: 20px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}

.email-input {
  padding: 24px 32px;
  padding-left: 50px;
  border: none;
  border-radius: 16px;
}

.email-input::placeholder {
  font-size: 14px;
  font-family: Circular Std Bold;
  font-weight: 700;
}

.email-input:focus {
  border: none;
}

.scb-btn {
  padding: 24px 64px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-family: Circular Std Bold;
  background: var(--secondary);
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 32px 0;

  .footer-image {
    display: none;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .footer-logo {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .footer-logo-image {
    width: 40px;
    height: auto;
  }

  .footer-logo-text {
    font-size: 24px;
  }

  .footer-subheading {
    font-size: 16px;
  }

  .social-link {
    display: flex;
    gap: 32px;
  }
}
.footer-link {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .list-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .company,
  .contact,
  .meet-us,
  li {
    display: flex;
    justify-content: space-between;
  }

  .dropdown-icon {
    width: 24px;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 1024px;
    padding: 0 64px;
  }
  .nav-list {
    display: none;
  }

  .header-button-group {
    display: flex;
  }

  .menu-icon {
    order: -1;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    gap: 64px;
  }

  .hero-image {
    position: relative;
    height: 713px;
    .hero-background {
      width: 772px;
    }

    .hero-image-group {
      position: absolute;
      top: 76px;
      left: 108px;
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .hero-image-item {
      display: flex;
      flex-direction: column;
      gap: 31px;
    }

    .beach,
    .mountain,
    .city {
      max-width: 272px;
    }

    .add-fr-icon {
      position: absolute;
      left: 349px;
      top: 590px;
      width: 110px;
    }

    .send-icon {
      position: absolute;
      top: 267px;
      left: -53px;
      width: 110px;
    }

    .top-places-icon {
      position: absolute;
      top: 415px;
      left: 459px;
      width: 215px;
    }
  }

  .hero-content {
    gap: 43px;
  }

  .hero-title {
    margin-bottom: unset;
  }

  .hero-heading {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: unset;
    width: 70%;
  }

  .high-light {
    color: var(--primary);
  }

  .hero-subheading {
    margin-bottom: unset;
    width: 44%;
  }

  .hero-group-btn {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 8px;
    .cta-btn,
    .hero-action-btn {
      padding: 16px 32px;
    }
  }

  .partner-section {
    display: flex;
    justify-content: center;
    padding: 64px 0;
    .partner-group {
      width: 70%;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
      gap: 27px;
    }
  }

  .partner-logo {
    height: 32px;
  }

  .service-section {
    gap: 64px;
  }

  .service-card {
    display: flex;
    flex-direction: row;
    .card-item {
      padding: 64px;
    }
  }

  .best-location-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    gap: 67px;
  }
  .arrow-button {
    gap: 32px;

    .previous-btn,
    .next-btn {
      padding: 40px;
    }
    .previous-icon {
      width: 18px;
      height: auto;
    }

    .next-icon {
      width: 18px;
      height: auto;
    }
  }

  .best-location-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }

  .best-location-card {
    flex-direction: row;
    gap: 31px;
  }

  .best-location-card-item {
    width: 278px;
  }

  .best-location-card-content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border: 1px solid var(--border-color);
    border-radius: 0 0 32px 32px;
    .card-header {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 32px;
    }

    .rate-star {
      position: relative;
    }

    .star-icon {
      position: absolute;
      width: 24px;
      top: 1px;
      margin-left: 8px;
    }

    .best-location-card-text {
      margin-bottom: 32px;
    }
  }

  .statistics-section {
    gap: 64px;
    padding: 64px 32px;
  }

  .statistics-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    .statistics-list-item {
      width: 380px;
    }
  }

  .statistics-icon {
    display: none;
  }

  .benefit-section {
    gap: 70px;
  }

  .benefit-background {
    width: 80%;
  }

  .benefit-content {
    gap: 64px;

    .benefit-list-item {
      flex-direction: row;
      align-items: center;
      gap: 32px;
    }
  }

  .carousel-section {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 32px 0px;
    /* background: url(../assets/images/carousel-background.png); */
    background-repeat: no-repeat;

    .arrow-button {
      position: absolute;
      top: 40%;
    }
  }

  .carousel-content {
    width: 584px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }

  .carousel-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }

  .customer-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .ratting {
      display: flex;
      gap: 16px;
    }

    .customer-text {
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
  }

  .carousel-subheading {
    width: 80%;
    text-align: center;
    font-weight: 450;
  }

  .carousel-page {
    display: flex;
    gap: 24px;
  }

  .form-section {
    padding: 128px 64px;
  }

  .graphic-image {
    display: block;
    position: absolute;
    top: -66px;
    left: -38px;
  }

  .input-form {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 32px;
  }
  .mail-icon {
    width: 32px;
    top: 20px;
    left: 29px;
  }
  .email-input {
    border-radius: 32px;
    padding-left: 70px;
    width: 100%;
    font-size: 23px;
    border: none;
  }
  .email-input::placeholder {
    font-size: 23px;
    font-family: Circular Std Bold;
  }

  .scb-btn {
    border-radius: 32px;
    font-size: 23px;
  }
  .footer {
    padding: 64px 0;

    .footer-content {
      .footer-logo-text {
        font-size: 24px;
      }

      .footer-subheading {
        font-size: 23px;
      }
    }

    .footer-link {
      flex-direction: row;
      justify-content: space-between;

      .dropdown-icon {
        display: none;
      }
    }
    .footer-image {
      display: block;
      position: absolute;
      right: -25px;
      top: 7600px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    width: 1440px;
    padding: 0 128px;
  }
  .nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    .nav-list:hover {
      color: #191825;
      border: none;
    }
  }

  .header-button-group {
    display: flex;
  }
  .menu-icon {
    display: none;
  }

  .hero {
    flex-direction: row-reverse;
    padding: 64px 0;
    gap: unset;
  }

  .hero-content {
    align-items: start;
    text-align: unset;
  }

  .hero-title {
    margin-bottom: unset;
  }

  .hero-heading {
    width: 100%;
    font-size: 69px;
  }

  .high-light {
    color: var(--primary);
  }

  .hero-subheading {
    width: 100%;
    margin-bottom: unset;
  }

  .hero-group-btn {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }

  .partner-section {
    .partner-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .service-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: unset;
    padding: 64px 0;
  }

  .service-header {
    display: flex;
    flex-direction: column;
    text-align: unset;
    gap: 16px;
    flex-shrink: 0;
    width: 35%;
  }

  .service-card {
    padding: unset;
    gap: 21px;
    overflow: hidden;

    .card-item {
      gap: unset;
      padding: 64px;
      flex-shrink: 0;
      width: 350px;

      .card-icon {
        margin-bottom: 64px;
      }

      .service-card-title {
        margin-bottom: 32px;
      }
    }
  }

  .best-location-section {
    display: grid;
    gap: 64px;
    .best-location-card {
      grid-column: span 2;
    }

    .best-location-content {
      align-items: flex-start;
    }

    .arrow-button {
      justify-content: flex-end;
    }

    .best-location-card {
      justify-content: center;
      best-location-card-item,
      li {
        width: fit-content;
      }

      .card-header {
        flex-direction: row-reverse;
        margin-bottom: 16px;
      }
    }
  }

  .statistics-section {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 64px 0;
    gap: unset;
    .statistics-content {
      width: 38%;
      position: relative;
      flex-shrink: 0;
      gap: 64px;
    }

    .statistics-image {
      width: 871px;
      position: absolute;
      left: 0;
    }

    .statistics-header {
      text-align: unset;
    }

    .statistics-subheading {
      width: 90%;
    }

    .statistics-icon {
      display: block;
      position: absolute;
      left: 295px;
      top: 195px;
    }
  }

  .benefit-section {
    flex-direction: row-reverse;
    align-items: start;
    justify-content: start;
    padding: 64px 0;
  }

  .benefit-background {
    width: 59%;
  }

  .benefit-content {
    min-width: 45%;
  }

  .benefit-header {
    text-align: unset;
  }

  .carousel-section {
    gap: 56px;
  }
  .carousel-content {
    width: 872px;
  }
  .carousel-subheading {
    width: 77%;
  }

  .form-section {
    gap: 64px;
    align-items: center;
  }
  .form-header {
    width: 70%;
  }

  .input-form {
    gap: 64px;
    width: 90%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;

    .footer-content {
      width: 140%;
    }

    .footer-image {
      top: 5400px;
      right: 0;
    }

    .footer-link,
    a:hover {
      box-shadow: none;
    }
  }
}
