.container {
  min-width: 398px;
  padding: 0 16px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.logo-item {
  display: flex;
  .logo {
    width: 40px;
    height: 40px;
  }
  .logo-text {
    color: #191825;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    padding-left: 16px;
  }
}

.menu-icon {
  width: 48px;
  height: 48px;
}

.nav-list,
.header-button-group {
  display: none;
}

.statistics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px 0;
  gap: 64px;
}

.statistics-heading {
  margin-top: 16px;
  margin-bottom: 32px;
}
.statistics-subheading {
  padding-bottom: 32px;
}

.statistics-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .statistics-list-item,
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px;
    border: 1px solid var(--border-color);
    border-radius: 32px;
    width: 100%;
  }

  .statistics-list-title {
    font-size: 35px;
    color: #ff5722;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 64px;
  }
  .nav-item {
    display: flex;
    justify-content: space-between;
  }
  .nav-list {
    display: none;
  }
  .header-button-group {
    display: flex;
  }
  .btn-login {
    background-color: var(--background-color);
  }
  .btn-signup {
    color: #fff;
    background-color: var(--secondary);
  }
  .menu-icon {
    order: -1;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 128px;
  }
  .nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .menu-icon {
    display: none;
  }
}
