.container {
  margin: 0 auto;
  width: 1184px;
}

/* Header */

.main-header {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}
.logo-header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo-image {
  width: 40px;
  height: 40px;
}
.logo :hover {
  opacity: 0.8;
}
.logo-heading {
  font-family: Circular Std Book;
  color: var(--Black, #191825);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}
.nav-list {
  display: flex;
  align-items: flex-start;
  gap: 64px;
}
.link a {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  font-family: Circular Std Book;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.link a:hover {
  color: black;
}
.nav-list a {
  text-decoration: none;
}
.button-group {
  display: flex;
  align-items: flex-start;
}
.login-button {
  display: flex;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 8px;
  background: var(--white, #fff);
  color: var(--Dark, #222831);
  font-family: Circular Std Book;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.login-button:hover {
  background-color: whitesmoke;
}
.signup-button {
  display: flex;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 8px;
  background: var(--Primary, #5d50c6);
  color: var(--Light, #eee);
  font-family: Circular Std Book;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border-radius: 100px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
.signup-button:hover {
  opacity: 0.8;
}

/* End Header */

/* Start Main */

/* Explore the world section */

.explore-the-world-content {
  display: flex;
  padding: 64px 0px;
  align-items: center;

  .explore-the-world-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
    flex-shrink: 1 0 0;
    width: 412px;
  }
  .explore-the-world-btn {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 16px;
    background: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07),
      0px 34px 75px 0px rgba(0, 0, 0, 0.07),
      0px 137px 137px 0px rgba(0, 0, 0, 0.06),
      0px 308px 185px 0px rgba(0, 0, 0, 0.04),
      0px 548px 219px 0px rgba(0, 0, 0, 0.01),
      0px 856px 240px 0px rgba(0, 0, 0, 0);
    color: var(--Secondary, #f85e9f);
    font-family: Circular Std Book;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border-radius: 100px;
    border: none;
    cursor: pointer;
  }
  .explore-the-world-b :hover {
    opacity: 0.8;
  }
  .explore-the-world-logo {
    width: 24px;
    height: 24px;
  }
  .travel-top-title {
    align-self: stretch;
    color: #000;
    font-family: Circular Std Book;
    font-size: 69px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .change-color {
    color: var(--Secondary, #f85e9f);
    font-family: Circular Std Book;
    font-size: 69px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .travel-top-description {
    align-self: stretch;
    color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .explore-the-world-group-btn {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  .get-started-btn {
    display: flex;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 8px;
    border: none;
    background: var(--Primary, #5d50c6);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
      0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09),
      0px 45px 27px 0px rgba(0, 0, 0, 0.05),
      0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0);
    color: var(--Light, #eee);
    font-family: Circular Std Book;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border-radius: 100px;
    cursor: pointer;
  }
  .get-started-btn:hover {
    opacity: 0.8;
  }
  .watch-demo-btn {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    gap: 8px;
    background: var(--white, #fff);
    color: var(--Dark, #222831);
    font-family: Circular Std Book;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border-radius: 100px;
    border: 1px solid var(--Light, #eee);
    cursor: pointer;
  }
  .logo-watch-demo {
    width: 24px;
    height: 24px;
  }
  .watch-demo-btn:hover {
    background-color: whitesmoke;
  }
}
.explore-the-world-position {
  width: 772px;
  height: 713px;
  position: relative;
}
.earth-background {
  width: 772px;
  height: 713px;
}
.earth-image {
  width: 772px;
  height: 287.383px;
}
.check-in-item {
  display: inline-flex;
  align-items: center;
  gap: 31px;
  position: absolute;
  left: 91px;
  top: 75px;
}
.check-in-item-group-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  .check-in-item-group-image-1 {
    width: 272px;
    height: 300px;
  }
}
.check-in-item-group-image-2 {
  width: 272px;
  height: 400px;
}
.plane-frame {
  position: absolute;
  left: 30px;
  top: 340px;
}
.add-fr-frame {
  position: absolute;
  left: 440px;
  top: 650px;
}
.top-place-frame {
  position: absolute;
  left: 550px;
  top: 485px;
}

/* End Explore the world section */

/* Foundation section */

.foundation-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 64px 0px;
}
.tripad-logo-image {
  width: 211.827px;
  height: 32px;
}
.expedia-logo-image {
  width: 113.062px;
  height: 32px;
}
.booking-logo {
  width: 188.604px;
  height: 32px;
}
.airbnb-logo-image {
  width: 102.534px;
  height: 32px;
}
.rbitz-logo-image {
  width: 173.565px;
  height: 32px;
}

/* End Foundation section */

/* Service section */

.service-content {
  display: flex;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
.service-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  min-width: 444px;
  flex: 1 0 0;
}
.service-head-title {
  align-self: stretch;
  color: var(--Secondary, #f85e9f);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}
.description-service {
  align-self: stretch;
  color: var(--grey-scale-black, #191825);
  font-family: Circular Std Book;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.service-card {
  display: flex;
  align-items: flex-start;
  gap: 21px;
  border: none;
  background: #fff;
  cursor: pointer;
}
.service-card li:hover {
  background-color: whitesmoke;
}
.service-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 222px;
  height: 315px;
  padding: 64px;
  gap: 64px;
  flex: 1 0 0;
  background: #fff;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
}
.card-logo {
  width: 64px;
  height: 64px;
}
.card-tag {
  align-self: stretch;
  color: var(--grey-scale-black, #191825);
  text-align: center;
  font-family: Circular Std Book;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.decription-card-tag {
  align-self: stretch;
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* End Service section */

/* Top Destination section */

.topdestination-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.top-destination-item {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}
.top-destination {
  align-self: stretch;
  color: var(--Secondary, #f85e9f);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}
.description-top-destination {
  align-self: stretch;
  color: var(--grey-scale-black, #191825);
  font-family: Circular Std Book;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.slide-button {
  display: flex;
  align-items: center;
  gap: 32px;
}
.previous-btn {
  width: 100px;
  height: 100px;
  background: var(--white, #fff);
  border-radius: 100px;
  border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.1));
  cursor: pointer;
}
.left {
  width: 24px;
  height: 24px;
}
.previous-btn:hover {
  background-color: whitesmoke;
}
.next-btn {
  width: 100px;
  height: 100px;
  background: var(--Primary, #5d50c6);
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.right {
  width: 24px;
  height: 24px;
}
.next-btn:hover {
  opacity: 0.8;
}
.tour-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  padding: 64px 0px;
}
.tour-option-card {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}

.option-image {
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 32px 32px 0px 0px;
}
.option-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
  background: #fff;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
}
.option-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
  padding: 32px;
  background: #fff;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
}
.option-description-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 16px;
}
.option-name-item {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.option-name-item :hover {
  text-decoration: underline;
}
.option-name-title {
  flex: 1 0 0;
  color: var(--grey-scale-black, #191825);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.option-price {
  color: var(--Secondary, #f85e9f);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.location {
  align-self: stretch;
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  font-family: Circular Std Book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.rate-item {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.rate-point {
  color: var(--Orange, #ff5722);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.star-icon {
  width: 23px;
  height: 23px;
}

/* End Service section */

/* Top Destination section */

.topdestination-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.topdestination-container {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}
.topdestination-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.topdestination {
  align-self: stretch;
  color: var(--Secondary, #f85e9f);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}
.description-topdestination {
  align-self: stretch;
  color: var(--grey-scale-black, #191825);
  font-family: Circular Std Book;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.slide-button {
  display: flex;
  align-items: center;
  gap: 32px;
}
.previous-btn {
  width: 100px;
  height: 100px;
  background: var(--white, #fff);
  border-radius: 100px;
  border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.1));
}
.left {
  width: 24px;
  height: 24px;
}
.previous-btn:hover {
  background-color: whitesmoke;
}
.next-btn {
  width: 100px;
  height: 100px;
  background: var(--Primary, #5d50c6);
  border-radius: 100px;
  border: none;
}
.right {
  width: 24px;
  height: 24px;
}
.next-btn:hover {
  opacity: 0.8;
}
.tour-option-card {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}

.option-image {
  align-self: stretch;
  border-radius: 32px 32px 0px 0px;
  flex: 1 0 0;
}
.option-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
  background: #fff;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
}
.option-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 32px;
  gap: 32px;
  background: #fff;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
}
.option-description-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 16px;
}
.option-name-item {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.option-name-title {
  flex: 1 0 0;
  color: var(--grey-scale-black, #191825);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}
.option-price {
  color: var(--Secondary, #f85e9f);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.location {
  align-self: stretch;
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.rate-item {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.rate-point {
  color: var(--Orange, #ff5722);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.star-icon {
  width: 23px;
  height: 23px;
}

/* End Top DESTINATION section */

/* Travel Point section */

.travelepoint-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 64px;
  padding-bottom: 64px;
}
.travelpoint-image {
  position: absolute;
  height: 671px;
  left: 0;
}
.travelepoint-title {
  position: relative;
  max-width: 441px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  flex: 1 0 0;
}
.travlepoint-title-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}
.travlepoint-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 16px;
}
.travelpoint {
  align-self: stretch;
  color: var(--Secondary, #f85e9f);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}
.travelpoint-about {
  align-self: stretch;
  color: var(--grey-scale-black, #191825);
  font-family: Circular Std Book;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.travelpoint-about-child {
  align-self: stretch;
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.statistical-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}
.statistical-list-item {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}
.statistical-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;
  background: var(--white, #fff);
  border-radius: 32px;
  border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.1));
  flex: 1 0 0;
}
.count-title {
  color: var(--Orange, #ff5722);
  font-family: Circular Std Book;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.statistical-name {
  color: var(--grey-scale-black, #191825);
  font-family: inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.travel-point-ticket-logo {
  position: absolute;
  width: 277px;
  height: 353px;
  top: 140px;
  left: 290px;
  flex-shrink: 0;
}

/* End Travel Point section */

/* Key features */

.keyfeatures-content {
  width: 1140px;
  display: flex;
  align-items: flex-start;
  padding: 64px 0;
  gap: 70px;
}
.keyfeatures-item {
  min-width: 549px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}
.keyfeatures-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}
.keyfeatures-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 16px;
}
.keyfeatures-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 16px;
}
.keyfeatures {
  align-self: stretch;
  color: var(--Secondary, #f85e9f);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}
.keyfeatures-description {
  align-self: stretch;
  color: var(--grey-scale-black, #191825);
  font-family: Circular Std Book;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.keyfeatures-about-desciption {
  align-self: stretch;
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.benifit-list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.benifit-item {
  display: flex;
  padding: 32px;
  align-items: center;
  align-self: stretch;
  gap: 32px;
  background: var(--white, #fff);
  border-radius: 32px;
  border: 1px solid transparent;
}
.benifit-item:hover {
  border: 1px solid var(--Grey-Scale-Black-10, rgba(25, 24, 37, 0.1));
}
.rectangle-frame-location {
  width: 100px;
  height: 100px;
  background: var(--Orange, #ff5722);
  border-radius: 32px;
  .benifit-logo {
    width: 48px;
    height: 48px;
    padding: 26px;
  }
}
.rectangle-frame-calendar {
  width: 100px;
  height: 100px;
  border-radius: 32px;
  background: var(--Yellow, #facd49);
  .benifit-logo {
    width: 48px;
    height: 48px;
    padding: 26px;
  }
}
.rectangle-frame-ticket {
  width: 100px;
  height: 100px;
  background: var(--Secondary, #f85e9f);
  border-radius: 32px;
  .benifit-logo {
    width: 48px;
    height: 48px;
    padding: 26px;
  }
}
.benifit-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  .benifit-title-item {
    align-self: stretch;
    color: var(--grey-scale-black, #191825);
    font-family: Circular Std Book;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .benifit-title-description {
    align-self: stretch;
    color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
    font-family: Circular Std Book;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}
.benifit-backgound {
  width: 693px;
  height: 869px;
}

/* Testimonials */

.testimonials-content {
  position: relative;
  display: flex;
  padding-bottom: 177px;
}
.testimonials-background-image {
  position: absolute;
  opacity: 0.1;
  z-index: -1;
  top: -330px;
  width: 100%;
}
.testimonials-item {
  display: flex;
}
.testimonials-content-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  flex: 1 0 0;
}
.testimonials-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  .testimonials {
    align-self: stretch;
    color: var(--Secondary, #f85e9f);
    text-align: center;
    font-family: Circular Std Book;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 4.6px;
    text-transform: uppercase;
  }
  .testimonials-title {
    align-self: stretch;
    color: var(--grey-scale-black, #191825);
    text-align: center;
    font-family: Circular Std Book;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
}
.rate-star {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  align-self: stretch;
  text-align: center;
  font-family: Circular Std Book;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
}
.marksmith::before {
  content: "Mark Smith";
  position: absolute;
  color: var(--Orange, #ff5722);
}
.five-star {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.testimonials-content-description {
  align-self: stretch;
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  text-align: center;
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 450;
  line-height: 160%;
}
.slide {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  .slide-logo {
    width: 24px;
    height: 24px;
  }
}

/* Subscribe to our newsletter */

.subcribe-content {
  position: relative;
  width: 1056px;
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 128px 64px;
  gap: 64px;
  background: rgba(250, 205, 73, 0.08);
  border-radius: 32px;
}
.subcribe-position {
  position: absolute;
  top: -70px;
  left: -30px;
}
.subcribe-content-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 64px;
}
.subcribe-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}
.subcribe-text {
  align-self: stretch;
  color: var(--Secondary, #f85e9f);
  text-align: center;
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}
.subcribe-description {
  align-self: stretch;
  color: var(--grey-scale-black, #191825);
  text-align: center;
  font-family: Circular Std Book;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.input-subbtn {
  width: 1056px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 64px;
}
.email {
  display: flex;
  padding: 32px;
  gap: 16px;
  background: var(--white, #fff);
  border-radius: 32px;
}
.letter-logo {
  width: 32px;
  height: 32px;
}
.type-email {
  width: 600px;
  border: none;
  cursor: pointer;
}
.email ::placeholder {
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-align: left;
}
.email :focus {
  text-align: left;
  outline: none;
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  text-align: center;
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.subscribe-email-btn {
  width: 235px;
  height: 96px;
  background: var(--Primary, #5d50c6);
  color: var(--white, #fff);
  text-align: center;
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border-radius: 32px;
  border: none;
  cursor: pointer;
}
.subscribe-email-btn:hover {
  opacity: 0.8;
}

/* Footer */

.vector-image {
  position: absolute;
  right: -16px;
  bottom: 280px;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  padding: 64px 0px;
  gap: 64px;
}
.footer-header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}
.footer-logo :hover {
  opacity: 0.8;
}
.logo-footer {
  width: 40px;
  height: 40px;
}
.footer-travlog {
  color: var(--Black, #191825);
  font-family: Circular Std Book;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}
.aboutus-description {
  align-self: stretch;
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 450;
  line-height: 160%;
}
.social-logo {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.logo-image {
  width: 32px;
  height: 32px;
}
.social-logo a:hover {
  opacity: 0.8;
}
.info {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}
.info-title {
  width: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.company-title,
.contact-title,
.meet-us-title {
  align-self: stretch;
  color: var(--grey-scale-black, #191825);
  font-family: Circular Std Book;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.body-info {
  align-self: stretch;
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  font-family: Circular Std Book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}
.info-title a:hover {
  text-decoration: underline;
}
.adress-child {
  align-self: stretch;
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  font-family: Circular Std Book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.adress-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
