.wrapper {
  padding: 0px 128px;
}
.header__top {
  display: flex;
  width: 1184px;
  padding: 32px 0px;
  justify-content: space-between;
  align-items: center;
}
.logo__header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.travlog {
  color: var(--Black, #191825);
  font-family: Circular Std;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}
.nav_list {
  display: flex;
  align-items: flex-start;
  gap: 64px;
}
.nav_link a {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  font-family: Circular Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.nav_link a:hover{
  color:black;
}
.nav_list a {
  text-decoration: none;
}
.button {
  display: flex;
  align-items: flex-start;
}
.login__button {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 8px;
  border: none;
  border-radius: 100px;
  background: var(--white, #fff);
  color: var(--Dark, #222831);
  font-family: Circular Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.login__button:hover{
  background-color: #191825;
  color: #EEE;
}
.signup__button {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 100px;
  background: var(--Primary, #5d50c6);
  color: var(--Light, #EEE);
font-family: Circular Std;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
}
.signup__button:hover{
  opacity: 0.8;
}
